.bg-login {
  background-image: url("https://a0.muscache.com/im/pictures/fa2ed873-e726-4e6d-ab1a-28bc7c69d805.jpg?im_w=960");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-login::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-form {
  background-color: rgba(255, 253, 254, 0.5);
  width: 550px;
}

.button-hover {
  background: linear-gradient(to right, #ee0979, #ff6a00, #ff5a5f);

  transition: 3s;
}

.button-hover:hover {
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
}
